<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="redis" connectionString="localhost:7000,localhost:7001,localhost:7002,localhost:7003,localhost:7004,localhost:7005,keepAlive=180,allowAdmin=True,version=3.2.0,connectTimeout=3000,connectRetry=3,defaultDatabase=0" />
  </connectionStrings>
</configuration>