<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.4.0" targetFramework="net462" />
  <package id="NEST" version="5.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net462" />
  <package id="TinyORM" version="1.1.6326.31656" targetFramework="net462" />
</packages>